body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #21262d;
    /* #d4eafc
    #1c2c43 */
}

.card{
    width: 100%;
    padding: 100px;
    height: auto;
    background-color: #1c2c43;
    color: #d4eafc;
}
.search{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
    text-transform: capitalize;
    color: #1c2c43;
    background-color: #d4eafc;
}
h1{
    width: 100%;
    margin-bottom: 80px;
    font-size: 45px;
    background-color: #1c2c43;
    color: #d4eafc;
}
.result{
    font-size: 70px;
    text-transform: capitalize;
    word-spacing: 2rem;
}